/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Defaults */
*{
    margin: 0;
}
body{
    overflow-x: hidden;
    margin: 0;
}
/* main */
main{
    margin-left: 5vw;
    margin-right: 5vw;
}

:root {
    /* Colors */
    --primaryColor: #293163;
    --InteractiveColor: #D34134;
    --backgroundColor: #FCFDFF;
    --textColor: #080a14;
    --gradientColor: rgba(8, 10, 20, 0.35);

    /* Distance */
    --sectionDistance: 25px;
    --generalDistance: 15px;

    /* Typography Weight */
    --regularWeight: 400;
    --semiBold: 600;
    --boldWeight: 700;
    --xBoldWeight: 800;
}

h1, h2, h3, h4, h5, h6, p, a, button{
    /* text-wrap: balance; */
    font-family: 'Mulish';
}
h1{
    font-size: 2rem;
    font-weight: var(--boldWeight)
}
h2{
    font-size: 1.5rem;
    font-weight: var(--boldWeight)
}
h3{
    font-size: 1rem;
    font-weight: var(--boldWeight)
}
p{
    font-size: 1rem;
    font-weight: var(--regularWeight)
}

/* Logo */
.logo{
    height: 70px;
    margin: 5px;
}

/* Navigation */
nav{
    background-color: var(--primaryColor);
    height: 80px;
}
nav a{
    color: white;
    text-decoration: none;
}
#current{
    text-decoration: underline 3px;
    text-underline-offset: 10px;
    border-radius: 10px;
}
nav img.logo{
    margin-left: 5vw;
}
.mobileOpenMenu{
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 5vw;
}
.mobileCloseMenu{
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 5vw;
    margin-right: 3.125px;
    margin-left: 3.125px;
}
.navPoints{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    width: 70vw;
    transform: translate(100%);
    transition: 300ms ease-in-out;
    z-index: 3;
}
.jsMenuToggle{
    transform: translate(0);
}
.navPoints a{
    font-size: 1.5rem;
    font-weight: var(--regularWeight);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navPoints a:nth-child(2){
    margin-top: 80px;
}

/* Hero */
.hero{
    height: 85px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gradientColor);
    z-index: 1;
}
.hero h1{
    color: white;
    text-align: center;
    z-index: 2;
    position: relative;
}
#forsideHero{
    background-image: url("../img/hero/ForsideHero.jpg");
    height: 125px;
}
#omGardenHero{
    background-image: url("../img/hero/OmGardenHero.jpg");
}
#bookingHero{
    background-image: url("../img/hero/BookingHero.jpg");
}
#blivGardistHero{
    background-image: url("../img/hero/BlivGardistHero.jpg");
}
#nyhederHero{
    background-image: url("../img/hero/NyhederHero.jpg");
}
#arkivHero{
    background-image: url("../img/hero/ArkivHero.jpg");
}
#ledelseHero{
    background-image: url("../img/hero/LedelseHero.jpg");
}
#sponsorerHero{
    background-image: url("../img/hero/SponsorerHero.jpg");
}
#kalenderHero{
    background-image: url("../img/hero/KalenderHero.jpg"); 
}
#frontPageH1{
    font-size: 2.5rem;
}

/* Button */
button{
    background-color: var(--InteractiveColor);
    border: none;
    border-radius: 25px;
    font-weight: var(--xBoldWeight);
    padding: 10px 50px;
    cursor:pointer;
}
button a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/* Distances */
main *{
    margin-top: var(--generalDistance);
    margin-bottom: var(--generalDistance);
}
section{
    margin-top: var(--sectionDistance);
    margin-bottom: var(--sectionDistance);
}

/* Footer */
footer{
    background-color: var(--primaryColor);
    color: white;
    display: flex;
    justify-content: space-between;
}
footer .logo{
    margin: 5px;
}
footer p{
    font-size: 0.75rem;
    margin: 5px;
}
.adresse{
    display: flex;
}
i{
    color: white;
    font-size: 35px;
    margin: 5px;
}
footer .soMeContainer{
    display: flex;
    justify-content: space-between;
}

/* Media Queries */
@media screen and (min-width: 900px) {
    /* Defaults */
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    footer p{
        font-size: 1rem;
    }

    /* Navigation */
    .navPoints a{
        font-size: 1rem;
    }
    nav .mobileOpenMenu, nav .mobileCloseMenu {
        display: none;
    }
    .navPoints{
        transform: translateX(0);
        width: unset;
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }
    .navPoints a{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .navPoints a:nth-child(2){
        margin-top: unset;
    }
    .navPoints a:last-child{
        margin-right: 5vw;
    }

    /* Hero */
    .hero{
        height: 300px;
    }
    #forsideHero{
        height: 400px;
    }
    #frontPageH1{
        font-size: 4rem;
    }

    /* Main */
    main{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    /* Button */
    button{
        padding: 10px 60px;
    }
    button a{
        font-size: 1.5rem;
    }

    /* Footer */
    footer .logo{
        height: 80px;
    }
}
@media screen and (min-width: 400px) {
    footer .logo{
        margin-left: 5vw;
    }
    .soMe{
        margin-right: 5vw;
    }
}